<!-- <h1 mat-dialog-title>
  <span>Create Row</span>
</h1> -->
<form [formGroup]="addEditRowFormGroup" autocomplete="false" class="form-align">
  <mat-card style="margin-top: 10px;">
    <mat-card-title class="card-header">
      {{mode}} Row
    </mat-card-title>
    <mat-card-content>
      <div class="flex-container">
        <ng-container *ngFor="let column of data.columns">
          <div *ngIf="column.COLUMN_NAME.toLowerCase() !== 'id'" class="child-container">
            <mat-form-field style="width: 250px; font-size: 16px;">
              <input matInput formControlName="{{column.COLUMN_NAME}}" placeholder="{{column.COLUMN_NAME}}" autocomplete="off">
              <mat-hint style="font-size: 90%"></mat-hint>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
  <div fxLayoutAlign="center" fxLayoutGap="5px" style="margin-top: 5px;">
    <button mat-raised-button [disabled]="addEditRowFormGroup.invalid" class="lam-button" (click)="onAddRow()">
      {{mode === 'View' ? 'Close' : 'Save'}}
    </button>
    <button mat-raised-button [disabled]="addEditRowFormGroup.invalid" class="lam-button" (click)="onClose()">
      Close
    </button>
  </div>
</form>